<div class="leftSidebar">

        <nav id="sidebar">
            <ul class="left">
                    @*// This is a  Head of sidebar*@
                    <li id="leftHead">
                        <a href="@routes.Application.index()"><h3 class="text-success" style="margin-left: 15px">Bosh sahifa</h3></a>
                    </li>

                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="@routes.Developers.prList()"><p style="margin-left: 20px;" class="active">Prezentatsiyalar</p></a>
                    </li>

                    <li class="leftBody">
                        @*<span class="fa fa-fast-forward  fa-facebook"></span>*@
                        <a href="#"><p style="margin-left: 20px;">Amaliy mashg'ulotlar</p></a>
                    </li>

                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="#"><p style="margin-left: 20px;">Uyga vazifalar</p></a>
                    </li>

                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="#"><p style="margin-left: 20px;">O'rnatmalar</p></a>
                    </li>

                    <li class="leftBodyLast">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="#"><p style="margin-left: 20px;">Test Natijalari</p></a>
                    </li>
            </ul>
            <div class="row1">
                <div id="bottomContact">
                        <!--<span class="fa fa-fw fa-facebook"></span>-->
                    <span>student: <a href="#"><p style="margin-left: 20px;">mr.sanatbek_94</p></a></span>
                    <span>master: <a href="#"><p style="margin-left: 20px;">bunyodreal</p></a></span>
                </div>
            </div>

        </nav>
</div>


