<div class="col-xs-3 leftSidebar">

        <nav id="sidebar">
            <ul class="left">
                @*// This is a  Head of sidebar*@
                    <li id="leftHead">
                        <a href="index.html"><h3 class="text-success" style="margin-left: 15px">Bosh sahifa</h3></a>
                    </li>

                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="presentations.html"><p style="margin-left: 20px;" class="active">Prezentatsiyalar</p></a>
                    </li>


                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="practice.html"><p style="margin-left: 20px;">Amaliy mashg'ulotlar</p></a>
                    </li>


                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="homeworks.html"><p style="margin-left: 20px;">Uyga vazifalar</p></a>
                    </li>


                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="download.html"><p style="margin-left: 20px;">O'rnatmalar</p></a>
                    </li>


                    <li class="leftBody">
                            <!--<span class="fa fa-fw fa-facebook"></span>-->
                        <a href="index.html"><p style="margin-left: 20px;">Test Natijalari</p></a>
                    </li>

            </ul>
                <!--blank space and Bottom contact-->
            <div class="row">
                <div id="bottomContact">
                        <!--<span class="fa fa-fw fa-facebook"></span>-->
                    @*<span>student: <a href="index.html"><p style="margin-left: 20px;">mr.sanatbek_94@mail.ru</p></a></span>*@
                    @*<span>master: <a href="index.html"><p style="margin-left: 20px;">bunyodreal@gmail.com</p></a></span>*@

                </div>
            </div>
        </nav>
</div>
