@(title: String)(content: Html)

<!DOCTYPE html>

<html>
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/myCSS/main.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/css/font-awesome.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    </head>
    <body class="main-bg" data-spy="scroll">
        <div class="main-container">
                @content
        </div>
    </body>
</html>
